*{
    margin: 0;
   border: 0;
box-sizing: border-box;
}

body {
background-color: #e5d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
min-height: 100vh;

}


h4{
    color: #303085;
    font-size: 20px;

}
.card{
    background-color: white;
    width: 400px;
    text-align: center;
    border-radius: 6%;
    padding: 40px 30px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
    line-height: 1.6;
}

.language{
        padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Language span {
    background-color: #f0ebff;
    color: #7161e8;

    padding: 8px 15px;

    border-radius: 20px;

    font-weight: bold;
}
button{
   background-color: #7161e8;
    color: white;
    padding: 10px 28px;
    border-radius: 25px;
    font-size: 14px;
        margin-top: 15px;
}
button:hover{
 background-color: #302675;
 cursor: pointer;
}